<a href="https://colab.research.google.com/github/sumaira476/Data-Analysis/blob/main/Experiment_11_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
df=pd.read_excel('sample_data/Emp_info.xlsx')
df

      id    city        dept  age   salary  performance score
0   A001  Mumbai       sales   23  1800000                1.4
1   A002   Delhi  technology   35  2500000                7.0
2   A003   Delhi  production   22  1000000                3.8
3   A004  Indore       sales   34  2200000                2.5
4   A005  Mumbai  technology   31   800000                9.0
5   A006  Mumbai  production   26  1700000                3.7
6   A007   Delhi       sales   28   600000                1.9
7   A009    Pune       sales   40   700000                9.7
8   A010   Delhi  technology   45  3000000                4.4
9   A011  Mumbai  technology   33   280000                5.6
10  A012    Pune   marketing   33   230000                7.0
11  A013  Indore  production   42  2600000                3.8
12  A014   Delhi  production   27  3400000                8.5
13  A015  Mumbai       sales   27   300000                7.3
14  A016    Pune       sales   29   270000                4.0
15  A017    Pune  production   22  2100000                0.5
16  A018   Delhi  production   29   400000                6.2
17  A019  Indore   marketing   28   460000                5.9
18  A020  Mumbai   marketing   34  1400000                8.0

In [7]:
df_max_scaled = df.copy()

columns_to_scale = ['age','salary', 'performance score']

for column in columns_to_scale:
    max_abs_value = df_max_scaled[column].abs().max()
    if max_abs_value != 0:
        df_max_scaled[column] = df_max_scaled[column] / max_abs_value

print(df_max_scaled)

      id    city        dept       age    salary  performance score
0   A001  Mumbai       sales  0.511111  0.529412           0.144330
1   A002   Delhi  technology  0.777778  0.735294           0.721649
2   A003   Delhi  production  0.488889  0.294118           0.391753
3   A004  Indore       sales  0.755556  0.647059           0.257732
4   A005  Mumbai  technology  0.688889  0.235294           0.927835
5   A006  Mumbai  production  0.577778  0.500000           0.381443
6   A007   Delhi       sales  0.622222  0.176471           0.195876
7   A009    Pune       sales  0.888889  0.205882           1.000000
8   A010   Delhi  technology  1.000000  0.882353           0.453608
9   A011  Mumbai  technology  0.733333  0.082353           0.577320
10  A012    Pune   marketing  0.733333  0.067647           0.721649
11  A013  Indore  production  0.933333  0.764706           0.391753
12  A014   Delhi  production  0.600000  1.000000           0.876289
13  A015  Mumbai       sales  0.600000  0.088235           0.752577
14  A016    Pune       sales  0.644444  0.079412           0.412371
15  A017    Pune  production  0.488889  0.617647           0.051546
16  A018   Delhi  production  0.644444  0.117647           0.639175
17  A019  Indore   marketing  0.622222  0.135294           0.608247
18  A020  Mumbai   marketing  0.755556  0.411765           0.824742

In [8]:
df_max_scaled = df.copy()

columns_to_scale = ['age','salary', 'performance score']

for column in columns_to_scale:
    min_val = df_max_scaled[column].min()
    max_val = df_max_scaled[column].max()
    if min_val != max_val:
        df_max_scaled[column] = (df_max_scaled[column] - min_val) / (max_val - min_val)

print(df_max_scaled)

      id    city        dept       age    salary  performance score
0   A001  Mumbai       sales  0.043478  0.495268           0.097826
1   A002   Delhi  technology  0.565217  0.716088           0.706522
2   A003   Delhi  production  0.000000  0.242902           0.358696
3   A004  Indore       sales  0.521739  0.621451           0.217391
4   A005  Mumbai  technology  0.391304  0.179811           0.923913
5   A006  Mumbai  production  0.173913  0.463722           0.347826
6   A007   Delhi       sales  0.260870  0.116719           0.152174
7   A009    Pune       sales  0.782609  0.148265           1.000000
8   A010   Delhi  technology  1.000000  0.873817           0.423913
9   A011  Mumbai  technology  0.478261  0.015773           0.554348
10  A012    Pune   marketing  0.478261  0.000000           0.706522
11  A013  Indore  production  0.869565  0.747634           0.358696
12  A014   Delhi  production  0.217391  1.000000           0.869565
13  A015  Mumbai       sales  0.217391  0.022082           0.739130
14  A016    Pune       sales  0.304348  0.012618           0.380435
15  A017    Pune  production  0.000000  0.589905           0.000000
16  A018   Delhi  production  0.304348  0.053628           0.619565
17  A019  Indore   marketing  0.260870  0.072555           0.586957
18  A020  Mumbai   marketing  0.521739  0.369085           0.815217

In [9]:
df_z_scaled = df.copy()

columns_to_scale = ['age', 'salary', 'performance score']

for column in columns_to_scale:
    mean_val = df_z_scaled[column].mean()
    std_val = df_z_scaled[column].std()
    if std_val != 0:
        df_z_scaled[column] = (df_z_scaled[column] - mean_val) / std_val

print(df_z_scaled)

      id    city        dept       age    salary  performance score
0   A001  Mumbai       sales -1.232066  0.431182          -1.448019
1   A002   Delhi  technology  0.628272  1.109044           0.645313
2   A003   Delhi  production -1.387094 -0.343518          -0.550877
3   A004  Indore       sales  0.473244  0.818532          -1.036829
4   A005  Mumbai  technology  0.008159 -0.537193           1.392931
5   A006  Mumbai  production -0.766981  0.334344          -0.588258
6   A007   Delhi       sales -0.456925 -0.730868          -1.261114
7   A009    Pune       sales  1.403413 -0.634031           1.654597
8   A010   Delhi  technology  2.178554  1.593232          -0.326591
9   A011  Mumbai  technology  0.318216 -1.040748           0.121980
10  A012    Pune   marketing  0.318216 -1.089167           0.645313
11  A013  Indore  production  1.713469  1.205882          -0.550877
12  A014   Delhi  production -0.611953  1.980582           1.206026
13  A015  Mumbai       sales -0.611953 -1.021381           0.757455
14  A016    Pune       sales -0.301897 -1.050432          -0.476115
15  A017    Pune  production -1.387094  0.721694          -1.784447
16  A018   Delhi  production -0.301897 -0.924543           0.346265
17  A019  Indore   marketing -0.456925 -0.866441           0.234123
18  A020  Mumbai   marketing  0.473244  0.043832           1.019122